/* Required CSS Styling
At least 3 different colors applied to backgrounds, text, etc. 3/3 */

#logo {
    height: 70px;
    width: 70px;
}

#title {
    position: absolute;
    top: -20px;
    margin-left: 90px;
}

.form-section {
    border-radius: 5px;
    background-color: rgb(201, 201, 201);
    max-width: 30%;
    margin-top: 3%;
}

.form-contents {
    padding: 10px;
}

.form-title {
    font-size: 30px;
    margin-left: 10px;
}

.benefits {
  margin: 20px 20px 20px 90px;
  padding-left: 30px;
}

.spacer {
  height: 24px;
}

h1 {
    font-size: 50px;
}

#submitbutton {
    cursor: pointer;
    background-color: rgb(198, 255, 191);
}

input, select {
    background-color: rgb(247, 247, 247);
    border-radius: 2px;
    border-width: 1px;
}